@import url(../../fonts/fonts.css);

:after, :before, * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body {
    font-size: 11pt;
    text-align: left;
    font-family: 'Montserrat', Tahoma, sans-serif;
  }
  
  .container {
    width: 70%;
    margin: 50px auto;
    display: block;
  }
  .container .nice-header {
    text-align: center;
    font-size: 4.5em;
    margin-bottom: 20px;
    font-weight: bold;
    color: #D8D8D8;
    position: relative;
  }
  .container .nice-header .sub {
    color: #676767;
    position: absolute;
    top: -20px;
    right: 0;
    font-family: Georgia, serif;
    font-size: 13pt;
    font-weight: normal;
    font-style: italic;
    text-decoration: none;
  }
  .container .nice-header .sub:hover {
    text-decoration: underline;
    color: #000;
  }
  .container .faq {
    width: 100%;
    position: relative;
  }
  .container .faq-questions {
    list-style: none;
  }
  .container .faq-questions, .container .faq-questions > li {
    width: 100%;
    display: block;
    padding: 10px;
  }
  .container .faq-questions > li:nth-child(odd) {
    background-color: #E8E8E8;
  }
  .container .faq-questions > li:nth-child(even) {
    background-color: #D8D8D8;
  }
  .container .faq-questions > li h4.faq-question, .container .faq-questions > li faq-question {
    font-size: 12pt;
    font-weight: bold;
    color: #4E4E4E;
    cursor: pointer;
  }
  .container .faq-questions > li p.faq-answer, .container .faq-questions > li .faq-asnwer {
    font-size: 10pt;
    line-height: 1.5;
    margin-top: 7px;
    display: none;
  }
  .container .faq-questions > li p.faq-answer:hover, .container .faq-questions > li .faq-asnwer:hover {
    color: #000;
  }

  .return {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 15px 15px;
    padding: 15px 20px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    border-radius: 10px;
    color: #40382D;
    border: 1px solid #000;
    box-shadow: inset 0 -5px 0 #40382D;
    transition: 0.4s ease-in-out;
  }
  .return:hover {
    box-shadow: inset 0 -60px 0 #40382D, 2px 2px 3px rgba(0, 0, 0, 0.3);
    color: #DECDA5;
  }